<!DOCTYPE html>
<html lang="en">
  <page-header title=data.title token=data.token />
  <body>
    <div class="app">
      <header>
        <include(input.header) />
      </header>
      <main>
        <js-disabled />
        <include(input.main) />
      </main>
    </div>
    <page-footer />
  </body>
</html>
