<!DOCTYPE html>
<html lang="en">
  <page-header title=data.title token=data.token />
  <body>
    <div class="app">
      <header>
        <${input.header} />
      </header>
      <main>
        <js-disabled />
        <${input.main} />
      </main>
    </div>
    <page-footer component=data.component />
  </body>
</html>
