<nav class="navbar">
  <section class="navbar-section">
    <a href="/" id="site-title" class="navbar-brand btn btn-link title mr-2 h4">Strawpoll</a>
  </section>
  <section class="navbar-section">
    <if(input.authenticated)>
      <a href="/create" class="btn btn-link">Create Poll</a>
      <a href="/user/dashboard" class="btn btn-link">Dashboard</a>
    </if>
    <!--<login-portal user=input.user authenticated=input.authenticated />-->
  </section>
</nav>
