<section class="section">
  <div id="form-container">
    <div class="body">
      <create-poll field=input.field authenticated=input.authenticated error=input.error />
    </div>
  </div>
</section>
