<section class="section">
  <div id="form-container">
    <div class="heading" no-update-body>
      <h1 class="title is-uppercase has-text-centered">Create Polls In A Few Clicks</h1>
    </div>
    <div class="body">
      <create-poll token=input.token field=input.field authenticated=input.authenticated error=input.error />
    </div>
  </div>
</section>
