<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child box">
      <poll-vote-section key="vote" poll=input.poll />
    </div>
  </div>
  <div class="tile is-4 is-vertical is-parent">
    <div class="tile is-child box">
      <poll-results-section key="results" choices=input.poll.choices />
    </div>
    <div class="tile is-child box">
      Something
    </div>
  </div>
</div>
