<a class="panel-block content" href=`/${input.poll.hash}`>
  <article class="media">
    <figure class="media-left">
      <span class="icon is-large">
        <i class="fas fa-2x fa-chart-pie" />
      </span>
    </figure>
    <div class="media-content">
      <div class="content">
        <p class="is-5 title has-text-left">${input.poll.question}</p>
      </div>
    </div>
  </article>
</a>
