<section class="section">
  <h3 class="title is-3 has-text-centered">Comments</h3>
  <if(input.authenticated)>
    <comment-box user=input.user hash=input.hash />
  </if>
  <comment-list authenticated=input.authenticated comments=input.comments />
</section>
