<section class="section">
  <h3 class="title is-3 has-text-centered">Comments</h3>
  <comment-box user=input.user hash=input.hash if(input.authenticated) />
  <comment-list authenticated=input.authenticated comments=input.comments />
</section>
