<await(comment in comments) placeholder="Loading..." class="comments">
  <article class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <img src="" />
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong></strong> <small></small>
          <br>
        </p>
      </div>
    </div>
  </article>
</div>
